
.sidenav li>a>i {
color: #00c853  !important;
}

i#menu-icone {
    color: #00c853  !important;
    margin-top: 8px;

}



#card-user {
    margin-top: -1px;
}

#img-user {
    margin-top: 18px;
}

.text-user-name {
    font-weight: 800;
    font-family: 'Nunito', sans-serif; 
    color: white;
}

#row-main-user-name {
    border-radius: 12px 12px 0 0;
}

#row-itens-main {
    padding-bottom: 5%;
    padding-top: 3%;

}
.item {

margin-left: 25px;
margin-bottom: 15px;
background: white;
text-align: center;
font-size: 1.2em;
width: 90%;
border: 3px solid #00C853;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10%;
font-family: 'Nunito', sans-serif;
font-weight: 700;
-webkit-transition: width .15s ease-in-out;
transition: .15s ease-in-out;

}
.item:hover {
cursor: pointer;
border-color:#388e3c;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);


}

figcaption {
color: black;
}

#container-user {
    width: 92%;
    margin-top: -12px; 
    padding-bottom: 22px;
    border-radius: 12px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card-image{
    max-height: 282px; 
    height: 282px;
    
   
}


@media (min-width: 991px) {
    main {
        padding-left: 300px;
       
    }
  
  }
 
  @media (max-width: 620px) {
      main {
          
        margin-top: 25px;
      }
      
  }





